<div>
  <ol class="breadcrumb">
      <li><a ui-sref="app">Home</a></li>
      <li><a ui-sref="app.aboutus">About Us</a></li>
  </ol>
</div>

<div class="container">
    <div>
        <h3>Welcome</h3>
        <br>
        
        <p>From the beginning we established systems and processes to ensure consistency across our network. We all strive to deliver the same exceptional service to the same impeccable standard. We make sure our people are the best in the business, by setting the industry benchmark for training and career development.</p>

        <hr>

        <p>Today we're aiming to explore most successful real estate network, with offices across Melbourne and China.</p>

        <hr>

        <p>Our team specialized in identifying development opportunities, due-diligence and feasibility studies, marketing strategy. You only need to remember that our Agents are among the best in the business. </p>

        <div>
            <img class="searchlogo"src="../Ausestate-frontend/img/logo.png"/ class="img-rounded">
            <br>
        </div>
    </div>
</div>