 <div class="row">
            <div class="container" >
                    <div class="panel panel-default">
                          <div class="panel-heading">News Information Input</div>
                              <div class="panel-body">
                                    <form class="form-horizontal" ng-controller="NewsController" name="newsForm">
                                      <div class="form-group">
                                        <label for="imageTitle" class="col-sm-2 control-label">News Title</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" placeholder="Title input" ng-model="News.title">
                                        </div>
                                      </div>
                                      
                                      <div class="form-group">
                                            <label for="description" class="col-sm-2 control-label">News Author</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" placeholder="Title input" ng-model="News.author">
                                            </div>
                                      </div>

                                      <div class="form-group">
                                            <label for="description" class="col-sm-2 control-label">News Descriptiopn</label>
                                            <div class="col-sm-8">
                                                <textarea class="form-control" id="description" name="description" rows="12"
                                                ng-model="News.content"></textarea>
                                            </div>
                                      </div>

                                      
                                      <div class="form-group">
                                          <div class="col-sm-offset-2 col-sm-10">
                                              <button type="submit" ui-sref="app.adminnewslist" class="btn btn-default" ng-click="newssubmit()"> News Submit</button>
                                          </div>
                                      </div>
                              
                                    </form>
                              </div>
                        </div>

                        
                      </div>
                    </div>