<div>
  <ol class="breadcrumb">
      <li><a ui-sref="app">Home</a></li>
      <li><a ui-sref="app.adminnewslist">Admin News List</a></li>
      <li><a>{{{{n.title}}}}</a></li>
  </ol>
</div>


<div class="container" ng-controller="NewsController">
        <div class="row row-content">
            <ul class="media-list">
                <li class="media" ng-repeat="n in news">
                    <div class="media-body">
                        <h2 class="media-heading propertytitle">{{n.title}} </h2>
                        <p class="propertyds">{{n.author}}</p>
                        <p class="propertyds">{{n.content}}</p>

                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#updateNews" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Update</button>

                        <!-- Indicates a dangerous or potentially negative action -->
                        <button type="button" class="btn btn-default" ng-click="deleteNews()" ui-sref="app.news"><i class="fa fa-trash" aria-hidden="true"></i>Delete
                        </button>

                    </div>
                </li>
            </ul>
    </div>
</div>

<!-- Modal -->
        <div class="modal fade" id="updateNews" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">News Update</h4>
              </div>
              <div class="modal-body">
                    <form class="form-horizontal" name="propertyUpdateForm">
                        <div class="form-group">
                            <label for="imageTitle" class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Title input" ng-model="News.title">
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="imageTitle" class="col-sm-2 control-label">author</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Title input" ng-model="News.author">
                            </div>
                          </div>

                        

                          <div class="form-group">
                                <label for="description" class="col-sm-2 control-label">News Content</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" id="description" name="description" rows="12"
                                    ng-model="News.content"></textarea>
                                </div>
                          </div>
                          

                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        <button type="button" class="btn btn-primary" ui-sref=""ng-click="updateNews()">save changes</button>

                    </form>
              </div>
        </div>
    </div>
</div>