<div>
  <ol class="breadcrumb">
      <li><a ui-sref="app">Home</a></li>
      <li><a ui-sref="app.adminnewslist">Admin News List</a></li>
  </ol>
</div>


<div class="container" ng-controller="NewsController">
    <div class="row row-content">
        <ul class="media-list">
          <li class="media" ng-repeat="(key , n) in newslist">
            <div>
              <button ng-click="delete(key)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>

              <h2 class="media-heading propertytitle">{{n.title}} </h2>
              <a ui-sref="app.adminaddnewsdetail({id: n.$id})">Detail</a>
              <p class="propertyds">{{n.author}}</p>
              <p class="propertyds">{{n.content}}</p>
            </div>
          </li>
        </ul>
    </div>
</div>

