
<div class="media">
  <div class="media-left media-middle">
    <span>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.918215734881!2d144.96114724987112!3d-37.815384579652715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642b4e5327097%3A0xf737e2524cc69725!2s343+Little+Collins+St%2C+Melbourne+VIC+3000!5e0!3m2!1szh-CN!2sau!4v1464521222354" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </span>
  </div>
  <div class="media-body">
  	<div class="col-md-3">
	    <h4 class="media-heading">Aus Estate Pty Ltd</h4>
		    <p>
			    <h5>Our Address</h5>
			    <address>
			      343 Lt Collins St <br>
			      Melbourne <br>
			      VIC 3000 <br>
			      <i class="fa fa-phone"></i>: +61 (03) 9600 0080<br>
			      <i class="fa fa-envelope"></i> :
			       <a href="mailto:info@austestate.com.au">info@austestate.com.au
			       </a>
			   </address>
		    </p>
    </div>
  </div>
</div>

<hr>

<div class="well well-lg">
	<p> We make sure our people are the best in the business, by setting the industry benchmark for training and career development.Today we're aiming to explore most successful real estate network, with offices across Melbourne and China.
       Our team specialized in identifying development opportunities, due-diligence and feasibility studies, marketing strategy. You only need to remember that our Agents are among the best in the business. </p>
</div>