<form class="form-horizontal" ng-submit="agentregister()" name="AgentRegisterForm" ng-controller="AgentController">
            <div>
                <img class="signin" src="../img/logo.png"/ class="img-rounded">
                <br>
                <h4 class="modal-title" >Create Agent</h4>
                <p ng-show="message">{{message}}</p>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-sm-offset-2 control-label" for="username">Agentname:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control input-sm" id="username" placeholder="Agentname" ng-model="agent.agentname" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-sm-offset-2 control-label" for="email">Email:</label>
                <div class="col-sm-5">
                    <input type="email" class="form-control input-sm" id="email" placeholder="Email@" ng-model="agent.email" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-sm-offset-2 control-label" for="password">Password:</label>
                <div class="col-sm-5">
                    <input type="passowrd" class="form-control input-sm" id="password" placeholder="Password" ng-model="agent.password" required>
                </div>
            </div>

            <br>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-5">
                  <button type="submit" class="btn btn-info btn-sm loginbutton1">Create Agent</button>
                </div>
            </div>
            
            
    </form>