<footer class="row-footer">
        
        <div class="row">            
            <div class="col-xs-5 col-xs-offset-1 col-md-2 col-sm-offset-1">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a ui-sref="app.homesearch">Home</a></li>
                    <li><a ui-sref="app.news">News</a></li>
                    <li><a ui-sref="app.aboutus">About</a></li>
                    <li><a ui-sref="app.contactus">Contact Us</a></li>
                </ul>
            </div>

            <div class="col-xs-5  col-md-2" ng-controller="PartnersiteController">
                <h5>Parterner Sites</h5>
                <ul class="list-unstyled">
                    <li><a href="http://www.iproperty.com.my/">iproperty.com.my</a></li>
                    <li><a href="http://www.gohome.com.hk/">gohome.com.hk</a></li>
                    <li><a href="http://www.homeguru.com.au/">homeguru.com.au</a></li>
                    <li><a href="https://www.realestate.com.au/">realestate.com.au</a></li>
                    <li ng-repeat="s in sites">
                        <a href={{s.link}}>{{s.name}}</a>
                    </li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h5>Our Address</h5>
                <address>
                  343 Lt Collins St <br>
                  Melbourne <br>
                  VIC 3000 <br>
                  <i class="fa fa-phone"></i>: +61 (03) 9600 0080<br>
                  <i class="fa fa-envelope"></i> :
                   <a href="mailto:info@austestate.com.au">info@austestate.com.au</a>
               </address>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-4 pull-right">
                    <div id="google_translate_element" class="translate"></div>
                    
                    <script type="text/javascript">
                        function googleTranslateElementInit() {
                          new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
                        }
                    </script>
                    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                </div>

            </div> 
            <div class="col-xs-12"> 
                <p style="padding:10px;"></p>
                <p align=center>© Copyright 2016 Aus Estate Pty Ltd- All Rights Reserved</p>
            </div>
        </div>
</footer>